<%=
	require 'gdbm'
	require './compatcgi'
	require './libapi'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	if(it = params[:name])
		system('./wsclient',
			'ws://%s:%s/' % [ENV['HOSTNAME'], ENV['WEBSOCKET_PORT']],
			"{:REQUEST=>'%s', :NAME=>'%s'}@@%s" % [cgi.params['request'][0], it, cgi.params['value'][0]]
		)
	end

	Json_result.members(params[:name])
%>

