<%=
	require 'json'
	require 'gdbm'
	require './libapi'

	if(request.request_method == 'PATCH')
		request.body.rewind
		data = JSON.load(request.body.read)
		system('./wsclient',
			'ws://%s:%s/' % [ENV['HOSTNAME'], ENV['WEBSOCKET_PORT']],
			"{:REQUEST=>'%s', :NAME=>'%s'}@@%s" % [data['request'], params[:name], data['value']]
		)
	end

	Json_result.members(params[:name])
%>

