<%
	require 'gdbm'
	require './compatcgi'
	require './time'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	eval(File.read('pv/swatter.config'))

	(it = cgi.params['user'][0]) and user = ' %s ' % it

%><HTML>
	<HEAD>
		<META http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<META http-equiv='Cache-Control' content='no-cache'>
		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<TITLE>Swatter -log-</TITLE>
	</HEAD>
	<BODY>
		<A href='?'>すべて</A>
<%	require './members'
	members = Members.new(@configs)
	members.load
	members.each {|member|
%>		<A href='?user=<%= member[:MAVEID] %>'><%= member[:MAVEID] %></A>
<%	} %>
		<P><%=
	logs = [];
	[-1, 0].each {|d|
		open('pv/swatter%d.log' % [Time.now.eweeks + d]) {|log|
			log.each {|l|
				l.force_encoding('UTF-8')
				(!user or l.include?(user)) and logs << l.chomp
			}
		} rescue(true)
	}
	logs.reverse.join("<BR>\n") %>
	</BODY>
</HTML>

