<%
	require 'gdbm'
	require './compatcgi'
	require './time'
	require './plugin'

	rack_params = Rack::Utils.parse_query(request.query_string)
	cgi = CompatCGI.new(request)

	eval(File.read('pv/swatter.config'))

	if(it = cgi.params['reorder'][0])
		roweight = []; it.scan(/../).each {|hh|
			roweight << ((ddd = hh.hex) > 127 ? ddd - 256 : ddd)
		}
	end
	txtrows = (it = cgi.params['txtrows'][0]) ? it : '1'

	@tbdbg = ''	#" border='1'"
	@tidbg = "'images/td.png'"

%><!DOCTYPE html>
<HTML>
	<HEAD>
		<META http-equiv='Content-Type' content='text/html; charset=UTF-8'>
		<META http-equiv='Cache-Control' content='no-cache'>
		<LINK rel='icon' id='favicon' href='favicon.png' type='image/png'>
		<LINK rel='stylesheet' href='swatter.css'>
		<TITLE>Swatter -在席表示板-</TITLE>
		<SCRIPT type='text/javascript' src='jquery.js'></SCRIPT>
		<SCRIPT type='text/javascript' src='swatter.js'></SCRIPT>
<%=		plug_js
%>	</HEAD>
	<BODY class='swatter'>
<%		require './members'
		members = Members.new(@configs)
		members.load
		(it = roweight) and members.reorder(it)
		begin
			mprop = {}; GDBM.open('pv/swatter.gdbm', 0666, GDBM::NOLOCK | GDBM::READER) {|db|
				members.each {|member|
					mprop[name = member[:MAVEID]] ||= {}
																	mprop[name][:LORDER]	= member[:LORDER]
					(it = db[name + '_state']	|| 'unknown')	and mprop[name][:STATE]		= it.force_encoding('UTF-8')
					(it = db[name + '_where']	|| 'none')		and mprop[name][:WHERE]		= it.force_encoding('UTF-8')
					(it = db[name + '_note']	|| '')			and mprop[name][:NOTE]		= it.force_encoding('UTF-8')
					(it = db[name + '_deactiv']	|| '')			and mprop[name][:DEACTIV]	= it.force_encoding('UTF-8')
					(it = db[name + '_update'])					and mprop[name][:UPDATE]	= it.force_encoding('UTF-8')
				}
			}
		rescue
			GDBM.open('pv/swatter.gdbm') {}
			raise
		end
%>		<TABLE<%= @tbdbg %>>
<%			cols = 3; seq = 0; members.each_name {|name|
				tr = (seq += 1) % cols == 1 ? '<TR>' : "\t"
%>			<%= tr %><TD class='<%= mprop[name][:STATE] + mprop[name][:DEACTIV] %>' id='state_<%= name %>'><!-- LORDER: <%= mprop[name][:LORDER] %> -->
				<TABLE<%= @tbdbg %>>
					<TR><TD rowspan='2' align='center'><IMG src=<%= @tidbg %> width='128' height='1'><BR>
						<SPAN class='name' id='name_<%= name %>' title='<%= mprop[name][:UPDATE] %>'><%= name %><SPAN>
						<TD>
						<SELECT id='selectw_<%= name %>' style='width:48px;'>
<%							wheres = (@configs[:wheres] || [
								[ 'home',	'🏠' ],
								[ 'office',	'🏢' ],
								[ 'world',	'🌏' ],
								[ 'none',	'−' ],
							]).each {|w|
								selected = w[0] == mprop[name][:WHERE] ? ' selected' : ''
%>							<OPTION value='<%= w[0] %>'<%= selected %>><%= w[1] %>
<%							} %>
						</SELECT>
<%						disabled = mprop[name][:WHERE] == 'none' ? ' disabled' : ''
%>						<SELECT id='select_<%= name %>' style='width:192px;'<%= disabled %>>
<%							status = (@configs[:status] || [
								[ 'present',	'在席'		],
								[ 'suspend',	'一時離席'	],
								[ 'absent',		'閉店'		],
								[ 'unknown',	'行方不明'	],
							]).each {|s|
								selected = s[0] == mprop[name][:STATE] ? ' selected' : ''
%>							<OPTION value='<%= s[0] %>'<%= selected %>><%= s[1] %>
<%							} %>
						</SELECT>
					<TR><TD>
						<TEXTAREA id='textarea_<%= name %>' rows='<%= txtrows %>' style='width:240px;'><%= mprop[name][:NOTE] %></TEXTAREA>
				</TABLE>
<%			} %>
		</TABLE>
<%=		plug_erb
%>		<DIV id='status'>
		</DIV>
		<!-- javascript が読み取る -->
		<INPUT type='hidden' id='wsuri4js' name='wsuri' value='<%= ENV['WEBSOCKET_URI'] %>'>
	</BODY>
</HTML>

