.name {
	color: #000000;
	font-size: 200%;
}

.present {
	background-color: #00ff00;
}

.suspend {
	background-color: #ff7f00;
}

.absent {
	background-color: #ff0000;
}

.unknown {
	background-color: #7f7f7f;
}

.present_deactiv {
	background-color: #30bf30;
}

.suspend_deactiv {
	background-color: #bf7730;
}

.absent_deactiv {
	background-color: #bf3030;
}

.unknown_deactiv {
	background-color: #7f7f7f;
}

.notice {
	color: #808080;
	font-size: 80%;
}
.tsukkomi {
	color: #808080;
	font-size: 80%;
}

/* 機能状態表示 */
.state {
    color: gray;
    font-size: 80%;
}
.err-state {
    color: red;
    font-size: 80%;
    font-weight: bold;
}

