		<!-- plugin 'noticies' -->
<%
		noticies = []
		last_date = '00/00'; open('pv/swatter%d.log' % [Time.now.eweeks]) {|log|
			log.each {|l|
				l.force_encoding('UTF-8')
				if(l =~ /^(\d+\/\d+)/ and $1 != last_date)
					noticies.clear
					last_date = $1
				end
				noticies << "<SPAN class='notice'>%s</SPAN>" % $1 if(l =~ /=notice=\s+(.+)/)
			}
		} rescue(true)

%>		<TABLE<%= @tbdbg %>>
			<TR><TD><IMG src=<%= @tidbg %> width='768' height='1'>
				<TD><IMG src=<%= @tidbg %> width='384' height='1'>
			<TR><TD>
				<DIV id='noticies'>
					<%= noticies.reverse.join("\n\t\t\t\t\t<BR>") %>
				</DIV>
				<P id='n_form' style='display:none;' align='right'><INPUT type='text' id='n_text' style='width:360px;'
					><BUTTON id='n_submit'><%= @configs[:noticies_label] || '告知' %></BUTTON>
				<TD align='right' valign='bottom'><SPAN class='notice'><A id='n_toggle'>⛖Form</A></SPAN>
		</TABLE>
