		<!-- plugin 'tsukkomies' -->
<%
		tsukkomies = []
		tsukkomies << "<SPAN class='tsukkomi'>-</SPAN>"
		tsukkomies << "<SPAN class='tsukkomi'>-</SPAN>"
		last_date = '00/00'; open('pv/swatter%d.log' % [Time.now.eweeks]) {|log|
			log.each {|l|
				l.force_encoding('UTF-8')
				if(l =~ /^(\d+\/\d+)/ and $1 != last_date)
					tsukkomies.clear
					tsukkomies << "<SPAN class='tsukkomi'>-</SPAN>"
					tsukkomies << "<SPAN class='tsukkomi'>-</SPAN>"
					last_date = $1
				end
				tsukkomies << "<SPAN class='tsukkomi'>%s</SPAN>" % $1 if(l =~ /=tsukkomi=\s+(.+)/)
			}
		} rescue(true)
		n = tsukkomies.size; tsukkomies.each {|log|
			log.gsub!(/tsukkomi/, "tsukkomi' id='tsukkomi_%d" % n -= 1)
		}
		tsukkomies.size > 2 and tsukkomies.shift
		tsukkomies.size > 2 and tsukkomies.shift

%>		<TABLE<%= @tbdbg %>>
			<TR><TD><IMG src=<%= @tidbg %> width='768' height='1'>
				<TD><IMG src=<%= @tidbg %> width='384' height='1'>
			<TR><TD>
				<DIV id='past_tsukkomies' style='display:none;'>
					<%= tsukkomies[0..-3].join("\n\t\t\t\t\t<BR>") %>
				</DIV>
				<DIV id='tsukkomies'>
					<%= tsukkomies[-2..-1].join("\n\t\t\t\t\t<BR>") %>
				</DIV>
				<P id='t_form' style='display:none;' align='right'><INPUT type='text' id='t_text' style='width:360px;'
					><BUTTON id='icon_dot'			>・</BUTTON
					><BUTTON id='icon_thumbs'		>👍</BUTTON
					><BUTTON id='icon_heart'		>🧡</BUTTON
					><BUTTON id='icon_grinning'		>😄</BUTTON
					><BUTTON id='icon_astonished'	>😲</BUTTON
					><BUTTON id='icon_worried'		>😟</BUTTON
					><BUTTON id='icon_angry'		>😠</BUTTON>
				<TD align='right' valign='bottom'><SPAN class='tsukkomi'><A id='t_toggle'>⛖Form</A></SPAN>
		</TABLE>
